:host {
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.6);
  border: solid 1px #ddd;
  border-radius: 8px;
  background: #fafafa;
  width: 700px;
  height: 55px;
  transition: height .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  box-sizing: border-box;
  opacity: 1;
}

:host.lightspot--collapsed {
  height: 55px;
}

:host.lightspot--expanded {
  height: 100%;
}
