:host {
  position: relative;
  display: block;
  flex: 1;
  margin-left: 10px;
  align-self: stretch;
}

.search-input__autocomplete {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', system-ui, sans-serif;
  font-weight: lighter;
}

.search-input__matching {
  font-size: 25px;
  color: #cccccc;
  white-space: pre;
}

.search-input__hint {
  position: relative;
  display: flex;
  margin-left: 5px;
  color: #333333;
}

.search-input__hint--dashed {
  margin-left: 25px;
}

.search-input__hint--dashed::before {
  position: absolute;
  top: 11px;
  left: -20px;
  display: block;
  content: ' ';
  border-top: solid 1px #888888;
  width: 14px;
}

.search-input__input {
  position: relative;
  display: block;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', system-ui, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  cursor: default;
}
